:root{
  --app-width: 376px;
  --aircall-grey: #424242;
  --outgoing-img: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg>');
  --incoming-img: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="M200-200v-400h80v264l464-464 56 56-464 464h264v80H200Z"/></svg>');
}

#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: var(--app-width);
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  display:grid;
  grid-template-rows:60px 1fr;
}

#app .container-view {
  position:relative;
  height:100%;
  overflow: hidden;
}
#app .container-view > section{
  position:absolute;
  overflow-y: auto;
  box-sizing: border-box;
  width:var(--app-width);
  height:100%;
  position:absolute;
  transition: .5s linear left;
}
