header {
  padding: 10px 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
}

header svg {
  display: block;
  width: auto;
  height:40px;
}
header nav{
  position:relative;
  right:-20px;
  bottom:-10px;
  display:flex;
  flex-direction: row;
  gap: 2px;
}
header nav a{
  background:#fff;
  font-size: 1.2em;
  text-decoration: none;
  display:inline-block;
  padding:5px;
  color:var(--aircall-grey);
  border:solid rgba(0, 0, 0, 0.1);
  border-width:1px 1px 0 1px;
  border-radius:5px 5px 0 0;
  transition:.25s linear background-color;
}
header nav a.current{
  background:rgba(42, 196, 32, .1);
}